{% extends 'base.html' %}

{% block content %}
    <div class="post">
        <div class="main-info">
            <img src="{{ advert.image.url }}">
            <h2>{{ advert.title }}</h2>
            <h5 class="description">{{ advert.description }}</h5>
            <h6>Author</h6>
            <a href="{{ advert.user }}" class="author">
                {{ advert.user }}
            </a>
        </div>
        <div class="more-info">
            <h6 href="{{ advert.is_active }}">
                {% if advert.is_active == True %}
                    Post is active!
                {% else %}
                    Post isn't active
                {% endif %}
            </h6>
            <h6 href="{{ advert.moderated }}">
                {% if advert.moderated == True %}
                    Moderated by Admin
                {% else %}
                    Not moderated yet!
                {% endif %}
            </h6>
        </div>
    </div>
{% endblock %}